@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Formatação geral */
html{
    font-family: "Poppins";
}

a:hover{
    cursor: pointer;
}

input{
    padding: 8px;
    width: 250px;
    border: 0.5px solid;
    border-radius: 6px;
}

button{
    padding: 10px;
    margin: 20px;
    border: none;
    border-radius: 12px;
    color: #fff;
    background-color: red;
}

button:hover{
    cursor: pointer;
}


.displayBlock{
    display: block;
}

        /* Cards */

.card{
    background-color: aliceblue;
    width: 40%;
    border-radius: 16px;
    padding: 16px 0px;
    box-shadow:2px 2px 5px lightslategray;
}

.tituloCard{
    font-size: 1.4rem;
}

.ingredientesDiv{
    font-size: .8rem;
}

.ingredientes{
    font-weight:normal;
}

.descricao{
    font-size: .5;
    margin: 6px 0px;
    font-weight: normal;
}

.geralCard{
    margin: 20px 20px;
}

.editarExclu{
    font-size: .9rem;
    margin: 0px 7px;
}


        /* Formatação de texto */

.text-align{
    text-align: center;
}

.flex-bet{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-cent{
    display: flex;
    justify-content: center;
}
.flex-end{
    display: flex;
    justify-content: end;
}

.teste{
    display: inline-block;
}

.inputIngredi{
    margin-bottom: 4px;
    width: 250px;
}

.title{
    margin-bottom: 100px;
}

.selecTitulo{
    margin: 0px 10px;
}

.strong{
    font-weight: bold;
}

.hidden{
    display: none;
}


/* Login */

.loginDisplay{
    display: flex;
    justify-self: center;
    text-align: center;
    background-color:#F2CED2;
    border-radius: 20px;
    
    padding: 30px ;
    box-shadow:2px 2px 5px lightslategray;
}

.htmlLogin{
    min-height: 500px;
    align-content: center;
}

.inputLogin{
    margin: 5px auto;
    border: none;
}

/* RELATORIO */

.cardRelatorio{
    background-color: aliceblue;
    
    border-radius: 16px;
    padding: 30px;
    margin: 0px 10px;
    box-shadow:2px 2px 5px lightslategray;
}

.teste{
        min-height: 500px;
}