@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Formatação geral */
html{
    font-family: "Poppins";
}

a:hover{
    cursor: pointer;
}

input{
    padding: 8px;
    width: 250px;
    border: 0.5px solid;
    border-radius: 6px;
}

        /* Formatação de texto */

.text-align{
    text-align: center;
}

.flex-bet{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-cent{
    display: flex;
    justify-content: center;
}

.teste{
    display: inline-block;
}

.inputIngredi{
    margin-bottom: 4px;
    width: 250px;
}

.title{
    margin-bottom: 100px;
}

.selecTitulo{
    margin: 0px 10px;
}



.hidden{
    display: none;
}
